@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

body {
    background-color: #f7f7f7;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flexCenter {
    align-items: center;
}

.container {
    width: 80%;
    margin: auto;
}

.sliderContainer {
    position: relative;
}

.liststyleNone {
    list-style: none
}

.flexgap10 {
    gap: 10px;
}

.swiper {
    width: 600px;
    height: 300px;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./images/pexels-anni-roenkae-2457317\ \(1\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    padding-bottom: 103px;
}

.banner>div {
    border: 4px solid rgba(255, 255, 255, 0.4);
    padding: 25px;
}

.banner>div h4 {
    color: #fff;
}

.banner h1 {
    color: #fff;
    font-weight: 900;
    font-style: italic;
    font-family: "Roboto";
    font-size: 70px;
    margin-bottom: 20px;
}

.upperHeader {
    padding: 15px 0;
}

.upperHeader .actions a {
    border-left: 1px solid #dcdcdc;
    padding: 0 15px;
    font-size: 13px;
    color: #1f1f1f;
    font-weight: 300;
    text-decoration: none;
}

.upperHeader i {
    color: #1f1f1f;
    font-size: 0.8rem;
}

.upperHeader i:hover {
    color: #139c9e;
}

.upperHeader span {
    font-size: 13px;
    color: #1f1f1f;
    font-weight: 300;
}

.upperHeader a:hover {
    color: #139c9e;
}

.bottomHeader {
    padding: 10px 0;
}

hr {
    height: 1px;
    background: #dcdc;
    border: none;
}

.primaryButton {
    background: #f4b01d;
    color: black;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    outline: none;
    font-weight: bold;
}

.banner input,
select {
    width: 200px;
    font-size: 13px;
    color: #818181;
    font-weight: 400;
    font-family: "Open Sans";
    padding: 10px 15px;
    border: none;
    outline: none;
}

.banner h4 {
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    margin-bottom: 15px;
}


nav ul li a {
    font-size: 12px;
    color: #3c3c3c;
    font-weight: 500;
    font-family: "Roboto";
    text-decoration: none;
}

nav ul li a:hover {
    color: #139c9e;
}

.sliderContainer {
    margin-top: -200px;
}

.single-item {
    display: flex;
    gap: 20px;
}

.single-item>div {
    padding: 10px;
}

.single-item>div img {
    width: 100%;

}

.slick-slide {
    padding: 10px !important
}

.single-item>div h3 {
    font-size: 18px;
    color: #191919;
    font-weight: 700;
    font-family: "Roboto";
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: white;
}

.single-item>div p {
    width: 237px;
    height: 40px;
    font-size: 14px;
    line-height: 18px;
    color: #696969;
    font-weight: 400;
    font-family: "Roboto";
    padding-left: 24px;
    background: #fff;
    padding-bottom: 20px;
}

.categories .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.categories>h3 {
    color: #191919;
    font-weight: 700;
    font-family: "Open Sans";
    margin-bottom: 20px;
}

.categories .items .item {
    padding-bottom: 40px;
    background: #fff;
}

.categories .items .item h4 {
    font-size: 14px;
    line-height: 38px;
    color: #000000;
    font-weight: 400;
    font-family: "Roboto";
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;
    margin: 0 30px;
}

.categories .items .item h4 span {
    font-size: 14px;
    line-height: 38px;
    color: #515151;
    font-weight: 400;
    font-family: "Roboto";
}

.categories .items .item>div {
    height: 120px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    line-height: 56px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    box-shadow: inset 0 0 0 2000px #21212185;
    margin-bottom: 40px;
    position: relative;
}

.blur {
    filter: blur(8px);
    -webkit-filter: blur(5px);
    position: absolute;
    width: 100%;
    height: 100%;

}

.categories .items>div:nth-child(8)>div {
    background-image: url('./images/Layer\ 3190.png');
}

.categories .items>div:nth-child(7)>div {
    background-image: url('./images/Layer\ 318\ \(1\).png');
}


.categories .items>div:nth-child(6)>div {
    background-image: url('./images/Layer\ 3170.png');
}

.categories .items>div:nth-child(5)>div {
    background-image: url('./images/Layer\ 3160.png');
}

.categories .items>div:nth-child(4)>div {
    background-image: url('./images/Layer\ 315.png');
}

.categories .items>div:nth-child(3)>div {
    background-image: url('./images/Layer\ 320.png');
}

.categories .items>div:nth-child(2)>div {
    background-image: url('./images/Layer\ 314.png');
}

.categories .items>div:nth-child(1)>div {
    background-image: url('./images/Layer\ 291.png');
}

.urgent .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.urgent>h3 {
    font-size: 24px;
    line-height: 56px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
    margin-bottom: 10px;
    margin-top: 20px;
}

.urgent .items>div {
    background: #fff;
    padding-bottom: 30px;
}

.urgent .items>div h4 {
    font-size: 18px;
    line-height: 55px;
    color: #171717;
    font-weight: 700;
    font-family: "Roboto";
    display: flex;
    justify-content: space-between;
    border-top: 4px solid #f4b01d;
    background: #aaaaaa3f;
    padding: 0 35px;
    margin-bottom: 30px;
}

.urgent .items>div h5 {
    font-size: 14px;
    line-height: 38px;
    color: #000000;
    font-weight: 400;
    font-family: "Roboto";
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;
    margin: 0 30px;
}

.urgent .items>div h5 span {
    font-size: 14px;
    line-height: 38px;
    color: #515151;
    font-weight: 400;
    font-family: "Roboto";
}

.classifieds .items>div {
    display: flex;
    padding: 20px;
    background: #fff;
    border-bottom: 1px solid #81818136;
}

.classifieds .items>div img {
    width: 160px;
    height: 90px;
    object-fit: cover;
    object-position: center;
}


.classifieds .items>div .details {
    margin-left: auto;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.classifieds .items>div .details >span  {
    font-size: 24px;
    line-height: 12px;
    color: #191919;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: right;
}

.classifieds{
    margin-bottom: 70px;
}

.classifieds .items>div .description {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 15px;
    justify-content: space-between;
}

.classifieds .items>div .description span {
    font-size: 12px;
    line-height: 18px;
    color: #515151;
    font-weight: 400;
    font-family: "Open Sans";
}

.classifieds .items>div .description h5 {
    font-size: 20px;
    line-height: 12px;
    color: #191919;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: right;
}

.classifiedsHeader{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 10px;
}

.classifiedsHeader h4{
    font-size: 24px;
line-height: 56px;
color: #000000;
font-weight: 700;
font-family: "Open Sans";
text-align: center;
}

.classifiedsHeader >div{
    display: flex;
}

.classifiedsHeader >div button{
    width: 198px;
    height: 55px;
    background-color: #f4b01d;
    border: none;
    outline: none;
}

footer {
    background: #393939;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}

footer >div{
    display: flex;

}

footer>div i{
    color: #fff;
    padding: 5px;
    font-size: 0.8rem;
    margin-bottom: 20px;
}

footer h1{
    font-size: 4rem;
    color: #fff;
    font-weight: bolder;
}

footer p{
    color: #fff;
    width: 36%;
    text-align: center;
    font-weight: lighter;
    font-size: 12px;
    margin-bottom: 36px;
    margin-top: 10px;
}

footer .inputContainer input {
border: 1px solid #fff;
color: #fff;
padding:5px 10px;
background: #393939;
outline: none;
width: 300px;
}

footer .inputContainer button{
border-radius: 0;
}

.pricingPlans >div {
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 20px;
height: 300px;
padding: 30px;
margin: 50px 0;
}

.pricingPlans >div >div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
}

.pricingPlans >div >div h4 {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  .pricingPlans >div >div button {
    margin-top: 30px;
    cursor: pointer;
  }

  .contactUs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 5px;
    padding: 70px 0;
  }
  .contactUs input,textarea{
    margin-bottom: 10px;
    padding: 10px 5px;
    border: 1px solid #1f1f1f9e;
    border-radius: 5px;
    width: 50%;
  }
  